{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="{% static 'css/style.css' %}">

  <title>Open Borders CoLAB</title>
</head>

<body>

  <div class="header">
    <a href="/"><h1>Spotify Data Scraper </h1><h2>for UndocuMusic Research</h2></a>
  </div>

  <div class="main">

      <h2>We're sorry, an error occurred. Please try again.</h2>

  </div>


  <div class="footer">
      <h5>For any questions, email: openborders <i>at</i> cornell <i>dot</i> edu.</h5>
    <h4>&#169; 2023 Open Borders CoLAB</h4>
  </div>


</body>

</html>
