{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="{% static 'css/style.css' %}">

  <title>CoLAB Spotify Data</title>
</head>

<body>

  <div class="header">
    <a href="/"><h1>get data from spotify</h1></a>
  </div>

  <div class="main">

    <div class="form {{ display_form }}">
      <form method="post" action="{% url 'spotify:index' %}">
        {% csrf_token %}

        <div class="label-input">
          <label for="coder_number">Coder Number</label><br>
          <input id="coder_number" type="text" name="number" value="{{ sticky_number }}">
          <p class="feedback {{ number_feedback }}">Please enter your coder number.</p>
        </div>

        <div class="label-input">
          <label for="artist">Artist Names</label>
          <p class="instruct">(separate by commas)</p>
          <input id="artist" type="text" name="artist" value="{{ sticky_artist }}">
          <p class="feedback {{ artist_feedback }}">Please enter at least one artist.</p>
        </div>

        <input type="submit" class="submit" name="download" value="Download">

      </form>
    </div>

    <div class="form {{ display_confirm }}">
      <h3>Your data is currently downloading.</h3>
      <a href="/"><p class="link">Would you like data for more artists?</p></a>
      <p>Coder number: {{ number }}</p>
      <p>Artists: {{ artist }}</p>
    </div>

  </div>

  <div class="footer">
    <h4>&#169; 2023 CoLAB.</h4>
  </div>
  

</body>

</html>
